<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homeworkout">


    <application >
        <activity
            android:name=".HiltTestActivity"
            android:icon="@drawable/background_image"
            android:exported="false">
        </activity>
    </application>




</manifest>